name: Lösche Dateien oder Ordner

on:
  workflow_dispatch: # Ermöglicht manuelles Triggern des Workflows
#  schedule:          # Optional: Zeitplan, z. B. täglich um Mitternacht
#    - cron: "0 0 * * *"

jobs:
  delete_files:
    runs-on: ubuntu-latest

    steps:
    # Checkout des Repositorys
    - name: Check out the repository
      uses: actions/checkout@v3

    # Löschen der Datei(en) oder Ordner
    - name: Lösche die Datei oder den Ordner
#      run: |
#        rm -rf md/sandbox/testing.md # Beispiel: rm -rf docs/test.txt

    # Lösche spezifische Dateien (Pfad zu den Dateien definieren)
    - name: Lösche die angegebenen Dateien
      run: |
        rm -f pfad/zur/ersten_datei.txt  # Beispiel: rm -f docs/file1.txt
        rm -f pfad/zur/zweiten_datei.md  # Beispiel: rm -f README.md


    # Änderungen committen und pushen
    - name: Änderungen committen und pushen
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git add .
        git commit -m "Automatisch gelöschte Datei/Ordner"
        git push