name: Generate GitHub Contribution Snake

on:
  schedule: # 每天生成一张新的图片  有趣的 "Jeden Tag ein neues Bild generieren"
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

steps:
  - owner: github.repository_owner
  - name: Checkout repository
    uses: actions/checkout@v2
  - name: Generate GitHub Contribution Snake
    uses: Platane/snk@v3
    with:
      github_user_name: ${{ github.repository_owner }}
      outputs: |
        output/github-snake.svg
        output/github-snake-dark.svg?palette=github-dark

  - name: Commit and push
    run: |
      git config user.name "github-actions[bot]"
      git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
      git add -A
      git commit -m "Updated GitHub Contribution Snake"
      git push

#-- ERROR
# Invalid workflow file: .github/workflows/generate-snake.yml#L1
# No steps defined in `steps` and no workflow called in `uses` for the following jobs: build
#
